<link rel="stylesheet" type="text/css" href="style.css">
<body>
  <h1>All Contacts <%= #something %>!</h1>
  <p>Last contact added on <%= #something %></p>

  <ul>
    <!-- please complete me with links to other actions -->
  </ul>
</body>