<% content_for :title do %>
  Insert ID
<% end %>

<form action="/contacts" method="post">
  <p><strong>ID:</strong> <input type="text" name="id">
  <p><input type="submit" name="Submit"></p>
</form>

