
<link rel="stylesheet" type="text/css" href="style.css">
<body>
  <h1>Welcome to <%= @crm_app_name %>!</h1>
  <p>Created on <%= @create_time%></p>

  <h3>Main Menu</h3>
  <ul>
    <a href="/contacts">View all contacts</a>
    <!-- please complete me with links to other actions -->
  </ul>
</body>