<% content_for :title do %>
  CRM by Taha Jalil
<% end %>

  <div>
    <a href="/contacts/new">Add a contact</a>
  </div>
  <div>
    <form method="POST" action="/contacts/id">
      <p>
        <input type="text" name="id" id="id_input" required="required" placeholder="Enter ID to Display Contact"/>
      </p>
  </form>
  </div>
<!--   <div>
    <form method="POST" action="/contacts/edit" >
      <p>
        Enter ID to edit a contact 
        <input type="text" name="id" id="id_input" required="required" placeholder="ID"/>
      </p>
    </form>
  </div> -->
  <div>
    <a href="/contacts">Display all contacts</a>
  </div>

  <!-- please complete me with links to other actions -->