<% content_for :title do %>
  Main Menu
<% end %>

<p><a href="/contacts/new">Add a contact</a></p>
<p><a href="/contacts/:id">Display a contact</a></p>
<p><a href="/contacts/:id/remove">Remove a contact</a></p>
<p><a href="/contacts/:id/edit">Edit a contact</a></p>
<p><a href="/contacts">Display all contacts</a></p>
<p><a href="/contacts">Display all contacts by attributes</a></p>
<p><a href="/contacts/:id/notes">Add notes for an existing contact</a></p>

  <!-- please complete me with links to other actions -->