<% content_for :title do %>
  CRM by Taha Jalil
<% end %>

<div class="basic_box">

  <div class="add_contact">
    <a href="/contacts/new">Add a contact</a>
  </div>

  <div class="input_contact">
    <form method="POST" action="/contacts/id">
        <input type="text" name="id" id="id_input" required="required" placeholder="Enter ID to Display Contact"/>
    </form>
  </div>

  <div class = "display_contact">
    <a href="/contacts">Display all contacts</a>
  </div>

</div>

  <!-- please complete me with links to other actions -->