<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title><%= yield_content :title %></title>
  </head>
  
  <body>
    <div class="navbar">
      <a href="/"> CRM </a><span>by Taha Jalil<span>
    </div>
    <div class = "content">
      <!-- <h1><%= yield_content :title %></h1> -->
      <%= yield %>
      <div class = "push"></div>
    </div>

    <div class = "footer">
      <a href="https://github.com/tjalil/crm-web">Source Code</a>
    </div>
  </body>
</html>

