<% content_for :title do %>
  Add a New Contact
<% end %>

<form action="/contacts" method="POST" class="new_contact">
  <fieldset>
    <div class="legend">
      <legend>New Contact</legend>
    </div>

    <div id="first_name">
      <label for="first_name">First Name: </label>
      <br>
      <input type="text" name="first_name" id="first_name_input" required="required" placeholder="First Name"/>
    </div>

    <div id="last_name">
      <label for="last_name">Last Name: </label>
      <br>
      <input type="text" name="last_name" id="last_name_input" required="required" placeholder="Last Name"/>
    </div>

    <div id="email">
      <label for="email">Email: </label>
      <br>
      <input type="text" name="email" id="email_input" required="required" placeholder="Email"/>
    </div>    

    <div id="notes">
      <label for="notes">Notes: </label>
      <br>
      <textarea name="notes" id="notes_input" placeholder="Add notes about contact"></textarea>
    </div>

    <div id="new_contact_btns">
      <input type="submit" name="submit" value="Add Contact"/>
      <input type="submit" href="/" name="submit" value="Cancel"/>
      <!-- Link 'Cancel' back to index.erb -->
    </div>
  </fieldset>
</form>
