<% content_for :title do %>
  Add a New Contact
<% end %>

<form action="/contacts" method="post">
  <p><strong>First Name:</strong> <input type="text" name="first_name"></p>
  <p><strong>Last Name:</strong> <input type="text" name="last_name"></p>
  <p><strong>Email:</strong> <input type="text" name="email"></p>
  <p><strong>Note:</strong> <input type="text" name="note"></p>
  <p><input type="submit" name="Submit"></p>
</form>
