@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*
{
  margin: 0px;
}

html, body
{
  font-family: 'Julius Sans One', sans-serif;
  background: url('retro-wallpaper-1.jpg') no-repeat fixed;
}

.content 
{
  text-indent: 20px;
  padding-top: 70px;
  min-height: 100%;
  height: 100%;
  margin: 0 auto -95px;
  line-height: 2em;
  color: white;
}

.content h1
{
  text-indent: 10px;
}

a 
{
  text-decoration: none;
  color: white;
}

a:hover 
{
color: black;
} 

.navbar 
{
color: white;
font-size: 2em;
position: fixed;
top: 0px;
width: 100%;
height: 35px;
text-align: left;
text-indent: 10px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: -5px;
-webkit-box-shadow: 0px 0px 8px 0px #000000;
-moz-box-shadow: 0px 0px 8px 0px #000000;
box-shadow: 0px 0px 8px 0px #000000;
background-color: rgba(27,64,99,0.2);
}

.navbar span
{
  font-size: 1rem;
}

.footer
{
  position: fixed;
  background-color: rgba(27,64,99,0.2);
  text-align: center;
  bottom: 0px;
  width: 100%;
  padding-left: -5px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.footer a
{
  color: white;
  font-size: 0.8em;
}

.footer a:hover
{
  color: black;
}

.footer, .push
{
  height: 20px;
}

.basic_box
{
  width: 450px;
  height:450px;
  margin-top: 25px;
}

#first_name, #last_name, #email, #notes_input
{
  height: 5rem;
}

#first_name_input, #last_name_input, #email_input, #notes_input
{
  font-family: 'Julius Sans One', sans-serif;
  margin-left: 40px;
  width: 400px;
  height: 30px;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 0px 0px 5px 0px white;
  -moz-box-shadow: 0px 0px 5px 0px white;
  box-shadow: 0px 0px 5px 0px white;
  font-size: 1rem;
}

#new_contact_btns
{
  text-align: center;
  margin-top: 20px;
}

.basic_box label
{
  margin-left: 20px;  
}

.basic_box legend
{
  font-weight: bold;
  text-align: center;
  background-color: rgba(27,64,99,0.2);
  font-size: 1.5rem;
  width: 400px;
  margin-left: 40px;
}

input[type=submit], input[type=button]
{
  font-family: 'Julius Sans One', sans-serif;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  width: 10rem;
  height: 3rem;
  background-color: rgba(236, 240, 241, 0.5);
  text-align: center;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px 0px white;
}

input[type=submit]:hover, input[type=button]:hover
{
  background-color: rgba(236, 240, 241, 1);
}

input[type=button]
{
  margin-left: 10px;
}

.add_contact, .display_contact
{
  font-weight: bold;
  text-align: center;
  background-color: rgba(27,64,99,0.2);
  font-size: 1.5rem;
  width: 400px;
  margin-left: 40px;
  margin-bottom: 2rem;
}

#id_input
{
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.5rem;
  margin-left: 20px;
  width: 400px;
  height: 2rem;
  border: none;
  margin-bottom: 2rem;
  text-align: center;
  background-color: rgba(236, 240, 241, 1);
  border-radius: 5px;
}

#id_input:focus
{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.add_contact
{
  margin-top: 10rem;
}

.delete_contact_btn
{
  margin-top: 10px;
  margin-left: 50px;
  float: left;
}
.edit_contact_btn
{
  margin-top: 10px;
  clear: right;
  margin-left: 10px;
}

.show_name, .show_email, .show_notes
{
  margin-left: 20px;
  height: 2rem;
  font-size: 1rem;
}


#show_first_name_input, #show_last_name_input, #show_email_input, #show_notes_input, #created_at_input
{
  font-family: 'Julius Sans One', sans-serif;
  margin-left: 40px;
  width: 400px;
  height: 30px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}

.basic_box #show_legend
{
  font-weight: bold;
  text-align: center;
  background-color: rgba(27,64,99,0.2);
  font-size: 1.5rem;
  width: 400px;
  margin-left: 40px;
}

#notes_input
{
  height: 100px;
}

.scrolling_box
{
  overflow-y: scroll;
  height: 450px;
}

.scroll_btn
{
  margin-top: 10px;
  /*margin-left: 50px;*/
  width: 450px;
  text-align: center;
}

.scroll_btn .show_scroll_btn
{
  width: 100%;
}

.scroll_btn > .show_scroll_btn:hover
{
  background-color: rgba(236, 240, 241, 0.5);
}

