/*@import url(http://fonts.googleapis.com/css?family=Marcellus+SC);*/
/*@import url(http://fonts.googleapis.com/css?family=Poiret+One);*/
/*@import url(http://fonts.googleapis.com/css?family=Pontano+Sans);*/
@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*
{
  margin: 0px;
}

html, body
{
  font-family: 'Julius Sans One', sans-serif;
  height: 100%;
  background: url('http://newevolutiondesigns.com/images/freebies/retro-wallpaper-1.jpg');
}

.content 
{
  text-indent: 20px;
  padding-top: 70px;
  min-height: 100%;
  height: 100%;
  margin: 0 auto -95px;
  line-height: 2em;
  color: white;
}

.content h1
{
  text-indent: 10px;
}

a 
{
  text-decoration: none;
  color: white;
}

.navbar 
{
color: white;
font-size: 2em;
position: fixed;
top: 0px;
width: 100%;
height: 35px;
text-align: left;
text-indent: 10px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: -5px;
-webkit-box-shadow: 0px 0px 8px 0px #000000;
-moz-box-shadow: 0px 0px 8px 0px #000000;
box-shadow: 0px 0px 8px 0px #000000;
background-color: rgba(27,64,99,0.2);
}

.navbar span
{
  font-size: 1rem;
}

/*Add a button to take us to the homepage*/
/*.navbar a {
font-size: 14px;
padding-left: 15px;
padding-right: 15px;
color: white;
}*/

a:hover {
color: black;
} 

.footer
{
  background-color: rgba(27,64,99,0.2);
  text-align: center;
  bottom: 0px;
  width: 100%;
  padding-left: -5px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: -20px;
}

.footer a
{
  color: white;
  font-size: 0.8em;
}

.footer, .push
{
  height: 20px;
}